<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <UserName>$HttpTriggeredAnalyticsFunction</UserName>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://httptriggeredanalyticsfunction.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2f732f77-be36-4554-a1bb-f36913e3c6d2/resourcegroups/BEACON2/providers/Microsoft.Web/sites/HttpTriggeredAnalyticsFunction</ResourceId>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://httptriggeredanalyticsfunction.scm.azurewebsites.net/</PublishUrl>
    <TargetFramework>net461</TargetFramework>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
  </PropertyGroup>
</Project>